#content .content1{
  overflow: hidden;
}

#content #view_title{
  text-align: center;
  border-bottom: 1px solid #ccc;

}

#content #view_title #view_title1{
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 30px;
}
#content #view_title #view_title2{
  padding: 20px;
  padding-bottom:30px;
}
#content #view_title li span{
  color: #666;
  font-size: 1.125rem;
}

#content #view_title li span:last-of-type{
  margin-right: 0;
}
#content #view_title li span::after{
  content: '/';
  color: #999;
  padding: 0 30px;
}
#content #view_title li span:last-of-type::after{
  display: none;
}

#content #view_content{
  padding: 50px;
  border-bottom: 1px solid #ccc;
}

#content #view_button{
  float: right;
  margin:50px 0 100px 0;
}

#content #view_button a{
  color: #999;
  transition: all 0.2s ease-out;
  border: 1px solid #ccc;
  width: 50px;
  display: block;
  float: left;
  padding: 12px;
  margin-right: 15px;
  text-align: center;
  float: left;
}

#content #view_button a:hover {
  color: #fff;
  background: #b51f1f;
}

/* 덧글 */
#ripple{
  background: #f8f8f8;
  padding: 50px;
}
#ripple #ripple_writer_title{
  overflow: hidden;
  padding-top: 20px;
}
#ripple #ripple_writer_title:first-of-type{
  border-top: 1px solid #ccc;
}
#ripple #ripple_writer_title:last-of-type{
  border-bottom: 1px solid #ccc;
}
#ripple #ripple_writer_title li{
  overflow: hidden;
}

#ripple #ripple_writer_title #writer_title1{
  float: left; margin-left: 30px; margin-right: 50px;
  font-size: 1.1rem;
  color: #333;
  font-weight: 700;
}
#ripple #ripple_writer_title #writer_title2{
  float: left; margin-right: 20px;
  font-size: 0.89rem;
  color: #666;
}
#ripple #ripple_writer_title #writer_title3{
  float: left;
  font-size: 0.89rem;
  color: #666;
}
#ripple #ripple_writer_title #writer_title3 a{
  margin-left: 20px;
}

#writer_title4{
  clear: both;
}
#ripple #ripple_writer_title li #writer_title4_form{
  display: none;
  padding: 20px;
}
#ripple #ripple_writer_title #ripple_modify{
  resize: none;
  width: 800px;
  margin-left: 20px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 20px 10px;
  float: left;
}
#ripple_submit_btn{
  color: #fff;
  transition: all 0.2s ease-out;
  width: 90px;
  display: block;
  padding: 32px 15px;
  margin-right: 15px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  box-shadow:inset 0px 0px 0px 0px #ff645c;
	background:linear-gradient(to bottom, #ff645c 5%, #c62d1f 100%);
	background-color:#ff645c;
	border:1px solid #c62d1f;
  text-shadow:0px 0px 4px #450f0b;
}
#ripple_submit_btn:hover{
  background:linear-gradient(to bottom, #c62d1f 5%, #ff645c 100%);
	background-color:#c62d1f;
  color: #fff;
}

#ripple #ripple_content{
  clear: both;
  padding: 20px 0;
  padding-left: 50px;
  border-bottom: 1px solid #ccc;
  color: #666;
  font-size: 1rem;
}
#ripple_box{
  overflow: hidden;
}
#ripple_box1 {
  margin-top: 50px;
  float: left;

}
#ripple_box1 textarea{
  resize: none;
  width: 800px;
  margin-left: 100px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 20px;
}
#ripple_box1 textarea:focus{
  border: 1px solid #b51f1f;
}
#ripple_box2{
  float: left;
  margin-top: 50px;
  padding-bottom: 30px;
}

#ripple_box2 a{
  color: #fff;
  transition: all 0.2s ease-out;
  width: 75px;
  display: block;
  float: left;
  padding: 30px 15px;
  margin-right: 15px;
  text-align: center;
  float: left;
	box-shadow:inset 0px 0px 0px 0px #ff645c;
	background:linear-gradient(to bottom, #ff645c 5%, #c62d1f 100%);
	background-color:#ff645c;
	border:1px solid #c62d1f;
  text-shadow:0px 0px 4px #450f0b;
}
.myButton {

	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:24px 43px;
	text-decoration:none;

}
.myButton:hover {
	background:linear-gradient(to bottom, #c62d1f 5%, #ff645c 100%);
	background-color:#c62d1f;
}
.myButton:active {
	position:relative;
	top:1px;
}

#ripple_box2 a:hover{
  color: #fff;
  background:linear-gradient(to bottom, #c62d1f 5%, #ff645c 100%);
	background-color:#c62d1f;
}