body {
  background: #f8f8f8;
}

#wrap {
  width: 90%;
  margin: 0 auto;
  font-family: 'Nanum Gothic', sans-serif;
  background: #fff;
  margin-bottom: 100px;
  box-shadow: 12px 20px 20px 10px rgb(0 0 0 / 10%);
  padding: 60px;
  box-sizing: border-box;
  margin-bottom: 100px;
  position: relative;
  z-index: 1;
}

header h1 a {
  display: block;
  width: 220px;
  height: 42px;
  text-align: center;
  margin: 50px auto;
  margin-top: 70px;
}

#wrap h2 {
  font-size: 1.5rem;
  font-weight: 500;
}


#wrap .top_menu {
  overflow: hidden;
  margin-bottom: 50px;
}

#wrap .top_menu li {
  text-align: center;
  border: 1px solid #ccc;
  width: 50%;
  box-sizing: border-box;
  float: left;
}

#wrap .top_menu li a {
  font-size: 1.111rem;
  display: block;
  padding: 10px 0;
}

#wrap .top_menu li a.current {
  background: #b51f1f;
  color: #fff;
}

#wrap #title strong {
  text-align: center;
  font-size: 1rem;
  color: #888;
  margin-bottom: 30px;
  display: block;
  font-weight: 400;
}

#wrap #name {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 15px;
  font-size: 1rem;
}


#wrap #hp1 {
  width: calc(33.33% - 33px);
  padding: 15px 5px;
  box-sizing: border-box;
  font-size: 1rem;
}

#wrap #hp2 {
  width: 33.33%;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1rem;
}

#wrap #hp3 {
  width: 33.33%;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1rem;
}
#wrap  .hp_span{
  width: 10px;
}
#wrap .find {
  width: 100%;
  background: #b51f1f;
  padding: 15px;
  border: none;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease-out;
  opacity: 0.8;
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-bottom: 5px;
}
#wrap .find:focus{
  box-shadow: 1px 1px 10px 1px red;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

#wrap #name,
#wrap #hp1,
#wrap #hp2,
#wrap #hp3{
  outline: none;
  border: 1px solid #ccc;
}
#wrap #name:focus,
#wrap #hp1:focus,
#wrap #hp2:focus,
#wrap #hp3:focus{
  box-shadow: 1px 1px 10px 1px red;
  outline: none;
  border: 1px solid #ccc;
}

#wrap .go{
  overflow: hidden;
}

#wrap .go li{
  float: left;
  position: relative;
  margin-right: 15px;
}
#wrap .go li:first-child::after{
  position: absolute;
  content: '';
  width: 1px;
  height: 14px;
  background: #999;
  right: -8px;
  top: 14px;
}
#wrap .go li a{
  font-size: 1rem;
  display: block;
  padding: 10px;
}
#loadtext{
  display: none;
}
#loadtext.on {
  position: fixed;
  top: 155px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 500px;
  box-sizing: border-box;
  padding: 20px;
  opacity: 1;
  z-index: 33;
}


#loadtext strong{
  font-size: 1.125rem;
  padding: 20px 0;
  text-align: center;
  background: #b51f1f;
  color: #fff;
  display: block;
}
#loadtext p{
  font-size: 1rem;
  line-height: 2rem;
  margin: 20px;
}
.fixed_box {
  background: #fff;
  border: 1px solid #666;
  position: relative;
  box-shadow: 0 0 10px 1px red;
}

.fixed_box .close{
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
  font-size: 1rem;
  width: 40px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  transition: all 0.3s ease-out;
}

.fixed_box .close:hover{
  background: #fff;
  color: #333;
}