#content .content1 {
  margin-bottom: 50px;
}

#content .top_menu{
  width:100%;
  overflow: hidden;
  margin-bottom: 30px;
}

#content .top_menu .top_btn{
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  
}
#content .top_menu .top_btn p{
  font-size: 1.25rem;
}
#content .top_menu .top_btn p span{
  color: #b51f1f;
}
#content .top_menu .btn_inner{
  overflow: hidden;
}

#content .top_menu .list_style{
  float: left;
}
#content .top_menu .option_list{
  float: left;
}
#content .top_menu .list_style i{
  font-size: 1.333rem;
}

#content .top_menu .list_style a{
  color: #666;
  transition: all 0.5s ease-out;
  border: 1px solid #ccc;
  width: 20px;
  display: block;
  float: left;
  padding: 10px;
  margin-right: 15px;
}

#content .top_menu .list_style a:hover{
  background: #b51f1f;
  color: #fff;
}
#content .top_menu .list_style .active{
  background: #b51f1f;
  color: #fff;
}

#content .top_menu .option_list select{
  font-size: 1rem;
  padding: 10px;
  color: #666;
  border: 1px solid #ccc;
}

#content .table_box{
  padding-bottom: 20px;
}


#content .product_list{
  width: 100%;
  
} 
#content .product_list ul{
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;

}

#content .product_list li{
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}

#content .product_list li .img_box{
  width: 80%;
  margin: 0 10%;
  overflow: hidden;
}

#content .product_list li img{
  width: 100%;
}

#content .product_list li dl {
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
}
#content .product_list li dl dt{
  font-weight: 500;
  font-size: 1.429rem;
  margin-bottom: 20px;
  transition: all 0.2s ease-out;
}
#content .product_list li dl dd{
  font-size: 1.1rem;
  line-height: 1.5em;
  margin-bottom: 10px;
}

#content .product_list li dl dd span{
  position: absolute;
  top: 10px;
  left: 0%;
  color: #999;
  font-size: 1.3rem;
}


#content .bottom_menu{
  text-align: center;
  margin: 40px auto;
}
#content .bottom_menu i{
  font-size: 1.3rem;
}
#content .bottom_menu .next_menu{
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  margin-top: 20px;
}

#content .search_box{
  margin-top: 50px;
}
#content .search_box form{
  position: relative;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
#content .search_box select{
  min-width: 20%;
  height: 50px;
  padding: 0px 10px;
  font-size: 1rem;
  margin-right: 15px;
  border: 1px solid #ccc;
}
#content .search_box #search{
  width: 50%;
  height: 50px;
  outline: none;
  box-sizing: border-box;
  text-indent: 20px;
  vertical-align: top;
  border: 1px solid #b51f1f;
}
#content .search_box button{
  height: 50px;
  width: 50px;
  padding: 10px 10px;
  background: #b51f1f;
  border: none;
}
#content .search_box button i{
  transition: all 0.3s ease-out;
  font-size: 1.667rem;
  color: #fff;
}
/* box_style*/

#content .table_box .list_content li div span:last-of-type{
  margin-right: 30px;
}
#content .table_box .list_item2 {
  margin: 0 auto;
}
#content .table_box .list_item2 b{
  display: block;
  width: 90%;
  margin: 0 auto;
}
#content .table_box .list_item3{
  margin-bottom: 20px;
}
#content .table_box .list_item3 strong{
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.5em;
  font-weight: 700;
  transition: all 0.3s ease-out;
  width: 90%;
  margin: 0 auto;
}
#content .table_box .list_content .list_item:hover strong{
  color: #b51f1f;
}
#content .table_box .list_item4{
  margin-bottom: 20px;
}
#content .table_box .list_item4 p{
  height: 45px;
  font-size: 1rem;
  line-height: 1.5em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align: justify;
  width: 90%;
  margin: 0 auto;
}
#content .table_box .list_item5{
  text-align: end;
}
#content .table_box .list_item5 i{
  margin-right: 5px;
}
#content .table_box .list_content {
  overflow: hidden;
}
#content .table_box .list_content .list_item{
  width: auto;
  float: left;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
  margin: 0 auto;
}
#content .table_box .list_content .list_item:hover{
  border: 1px solid #b51f1f;
}
#content .table_box .list_content li div{
  float: none;
  width: auto;
  border: none;
}
#content .table_box .list_content .list_item a{
  padding: 0;
}
#content .table_box .list_content li div span::after{
  margin: 0 10px;
}
#content .table_box.list_content li div span i{
  margin: 0 5px;
}


#page_button{
  overflow: hidden;
}

#button {
  overflow: hidden;
  float: right;
  padding: 10px 0;
  margin-right: 20px;
}
#button > a{
  color: #999;
    transition: all 0.2s ease-out;
    border: 1px solid #ccc;
    width: 50px;
    display: block;
    float: left;
    padding: 12px;
    margin-left: 15px;
    text-align: center;
    float: left;
    box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
}
#button> a:hover {
  color: #fff;
  background: #b51f1f;
  box-shadow: 1px 1px 10px 1px rgb(0 0 0 / 20%);
}


#content .bottom_menu{
  text-align: center;
  margin-top: 50px;
  clear: both;
}
#content .bottom_menu i{
  font-size: 1em;
  color: #999;
}
#content .bottom_menu a{
  color: #999;
  font-size: 1em;
  padding: 10px 20px;
}
#content .bottom_menu b{
  color: #999;
  font-size: 1em;
  padding: 10px 20px;
  color: #333;
  font-weight: 700;
}
#content .bottom_menu a:hover{
  color: #333;
}
#content .bottom_menu a:hover i{
  color: #333;
}

#content .table_box .list_content li div span{
  color: #999;
}
#content .table_box .list_content li div span::after{
  content : '/';
  color: #999;
  margin: 0 15px;
}
#content .table_box .list_content li div span:last-of-type::after{
  content: none;
}
#content .table_box .list_item2 b{
  color: #999;
  font-size: 1rem;
}
#content .table_box .list_item2 b::before{
  content : '#';
  color: #999;
  margin-left: 3px;
  margin-right: 3px;
}

/* list_style */

#content .table_box .list_style {}

#content .table_box .list_style .list_style{
  float: left;
  width: 30%;
}


#content .table_box .list_style .list_item1{
  float: left;
  width: 30%;
  margin: 0;

}
#content .table_box .list_style .list_text{
  float: left;
  width: 70%;
  margin-top: 20px;
}
#content .product_list.list_style  li .img_box{
}


#content .table_box .list_style .list_item2{}
#content .table_box .list_style .list_item3{}
#content .table_box .list_style .list_item4{display: none;}
#content .table_box .list_style .list_item5{}
