#content .content_area .group_box{
  width: 1200px;
  height: 1200px;
  background: url(../images/content2/group.jpg);
}
#content .title_area{
  margin-bottom: 0;
}
#content .content_area .group_box ul{
  text-indent: -9999px;
  color: #fff;
  display: block;
  width: 1px;
  height: 1px;
  margin-left: -1000px;
  overflow: hidden;
  
}