.content1{}
.content1 ul {
  padding-bottom: 50px;
}
.content1 ul li{
  margin-bottom: 40px;
}

.content1 ul li img{
  width: 100%;
}
.content1 ul li dl{
  width: 80%;
  margin: 0 auto;
}
#content .content1 span::after{
  content: '';
  width: 100%;
  height: 5px;
  border-radius: 2.5px;
  background: yellow;
  opacity: 0.5;
  position: absolute;
  bottom: 5px;
  left: 0%;
  z-index: -1;
}

.content1 ul li dt{
  margin-top: 30px;
  font-size: 1.125rem; 
  margin-bottom: 30px;
  line-height: 1.5em;
}
.content1 ul li dt span{
  font-size: 1.375rem; 
  color: #b51f1f;
  position: relative;
}
.content1 ul li dd{
  font-size: 1rem;
  line-height: 1.5em;
  text-align: justify;
}
.content1 ul li dl dd:first-of-type{
  margin-bottom: 20px;

}

.content2{
  position: relative;
}
#content .content2::before{
  content: '';
  width: 100%;
  height: 25%;
  position: absolute;
  top: 0;
  background: #f8f8f8;
  z-index: -50;
}

.content2 .content2_title {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 10%;

}
.content2 .content2_title h3{
  margin-bottom: 20px;
  padding-top: 30px;
  font-size: 1.675rem;
  line-height: 1.5em;
  text-align: center;
}
.content2 .content2_title h3 span{
  color: #ed164c;
}
.content2 .content2_title p{
  font-size: 1.25rem;
  line-height: 1.5em;
  text-align: justify;
}
.content2 .content2_title p span{
  color: #ed164c;
}
.content2 ul{
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content2 ul li{
  margin-bottom: 40px;
}
.content2 ul li .con2_imgbox{
  width: 75%;
  margin: 0 auto;
  border-radius: 100%;

}


.content2 ul li img{
  width: 100%;
  border-radius: 100%;  
}
.content2 ul li dl{
  width: 80%;
  margin: 0 auto;
}

.content2 ul li dl dt{
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 600;
  
}

.content2 ul li dl dd{
  font-size: 1rem;
  line-height: 1.5em;
  text-align: justify;
}