#content .title_area p{
  font-size: 1.5rem;
  letter-spacing: 5px;
  font-weight: 600;
  color: #b51f1f;
  margin-bottom: 10px;
}


#content .content_area .tab_menu{
  text-align: center;
  width: 100%;
  border-top: 1px solid  rgba(0, 0, 0, 0.3);;
  border-bottom: 1px solid  rgba(0, 0, 0, 0.3);;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;
}
#content .content_area .tab_menu li{
  width: 50%;
  float: left;
}
#content .content_area .tab_menu::before{
  content: '';
  height: 74px;
  width: 1px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 50%;
}
#content .content_area .tab_menu a{
  display: block;
  width: 100%;
  float: left;
  font-size: 1.2rem;
  padding: 15px 0;
}
#content .content_area .tab_menu .active a{
  background: #ed164c;
  color: #fff;
}
#content .content_area .office_title{
  overflow: hidden;
  color: #b51f1f;
  margin-left: 5%;
  margin-bottom: 20px;
}
#content  h3{
  font-size: 2.222em;
  float: left;
  margin-right: 20px;
}
#content .head_office .office_title span{
  display: block;
  margin-top: 30px;
}
#content .head_office #officeArea{
  width: 80%;
  margin: 0 auto;
  height: 300px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#content #headOffice{
  position: relative;
}
#content #kaempeoseu{
  position: relative;
}
#content .content_area h3::before{
  content: '';
  width: 200px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  bottom: 4px;
  left: 0px;
  z-index: -1;
  background: rgba(250,252,136,1);
  opacity: 0.7;
}
#content #kaempeoseu::before{
  width: 280px;
  bottom: 2px;
}

#content .head_office .office_text{
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}
#content .head_office .office_text dl{
  width: 100%;
  overflow: hidden;
}
#content .head_office .office_text dl{
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#content .head_office .office_text dt{
  float: left;
  width: 30%;
  box-sizing: border-box;
  position: relative;
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 100px;
}
#content .content_area dt{
  content: '';
  height: 300px;
  text-align: center;
}
#content .content_area dl:first-of-type dt:after{
  content: '';
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: -1px;
}
#content .content_area dl:last-of-type dd::after{
  content: '';
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
}
#content .content_area dl dt span{
  position: absolute;
  width: 80%;
  height: 15px;
  border-radius: 7.5px;
  background: rgba(130, 255, 0, 0.4);
  left: 12%;
  margin-top: 17px;
  z-index: -1;
}
#content .content_area dl:last-child dt span{
  width: 80%;
  background: rgba(255, 0, 0, 0.4);

}
#content .content_area dl:last-child dt::after{
  height: 250px;
}

#content .content_area dd{
  float: left;
  width: 70%;
  position: relative;
}

#content .content_area dd ul{}
#content .content_area dd ul li{
  margin-bottom: 45px;
  line-height: 1.5em;
  overflow: hidden;
  margin-top: 50px;
}
#content .content_area dd ul li > span{
  display: block;
  float: left;
  font-size: 1.111em;
  font-weight: 500;
  width: 30%;
  text-align: center;
}
#content .content_area dd ul li p{
  margin-bottom: 20px;
  font-size: 1em;
  position: relative;
  float: right;
  width: 50%;
  margin-left: 20%;

}
#content .content_area dd ul li p span{
  margin-right: 20px;
}
#content  .content_area dd ul li p .bus_red{
  color: red;
}
#content .content_area dd ul li p .bus_green{
  color: green;
}
#content .content_area dd ul li:last-child{
  margin: 0;
}
#content  .tell{
  margin-bottom: 0;
}
#content .yongin_office #yonginArea{
  width: 80%;
  margin: 0 auto;
  height: 300px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

}
#content .content_area .yongin_title{
  margin-left: 5%;
  overflow: hidden;
  color: #b51f1f;
  margin-bottom: 20px;
}
#content .content_area i{
  position: absolute;
  top: 5px;
  margin-left: -30px;

}
#content .yongin_office .yongin_title span{
  display: block;
  margin-top: 30px;
}
#content .yongin_office .yongin_text{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}

#content .yongin_office .yongin_text dl{
  overflow: hidden;
}
#content .yongin_office .yongin_text dl{
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
#content .yongin_office .yongin_text dt{
  float: left;
  width: 30%;
  box-sizing: border-box;
  position: relative;
  font-size: 1.3rem;
  font-weight: 500;
  padding-top: 100px;

}


