@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
/* 모바일 코딩 필수 공통영역 */
* {
 margin:0;
 padding:0;
 -webkit-text-size-adjust:none; }

html{
  font-size: 16px;
}

body {
 color:#333;
 font-size:14px;
 font-family: 'Lato','Noto Sans KR', sans-serif;
}

img, fieldset { border:0; vertical-align:top }
ul, ol, li, dl { list-style:none; }
h1, h2, h3, h4, h5, h6 {
 font-size:100%;
 font-weight:normal; }
hr { display:none; }
a { color:inherit; }
a, a:link {
 color:#333;
 text-decoration:none; }
a:visited { color:#333; }
a:hover, a:active {
 color:#333;
 text-decoration:none; }
em, i, address {
 font-style:normal;
 font-weight:normal; }
legend, caption {
 display:none;
 clear:both; }
input, textarea, select, button, table {
 font-size:inherit;
 font-family:inherit;
 line-height:inherit; }
section, nav, article, aside, hgroup, header, footer { display:block }
textarea, input {
 border-radius:1px;}
textarea { resize:none; }
label { cursor:pointer; }
.hidden,#skipNav{display: block; position: absolute; left:-1000%;top:0; width: 1px; height: 1px; overflow: hidden; color: #fff}


/* 전체 공통 */
#wrap{ width:100%; position: relative;  overflow:hidden;}

/* 헤더공통 */
#headerArea{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 101;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,0);

}
#headerArea .headerInner{
  overflow: hidden;
  position: relative;
}
#headerArea .headerInner h1>a{
  display: block;
  float: left;
  width: 110px;
  height: 60px;
  background: url(../images/logo.png) no-repeat;
  background-size: 100% auto;
  background-position:0 50%;
  overflow: hidden;
  text-indent: -9999px;
  margin-left: 23px;

}

#headerArea .headerInner .menu_btn{
  width: 20%;
  display: block;
  float: right;
  height: 60px;
  position: relative;
  border-radius: 5px;
  z-index: 200;
  transition: all .5s;
}
#headerArea .menu_btn span{
  display: block;
  width: 32px;
  height: 2px;
  background: #fff;
  text-indent: -9999px;
  position: relative;
  border-radius: 5px;
  transition: all .3s;
  margin: 30px auto;
  font-size: 0px;

}
#headerArea .menu_btn span::before{
  content: '';
  display: block;
  width: 32px;
  height: 2px;
  background: #fff;
  text-indent: -9999px;
  position: relative;
  border-radius: 5px;
  transition: all .3s;
  top: -9.5px;
}
#headerArea .menu_btn span::after{
  content: '';
  display: block;
  width: 32px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 9.5px;
  left: 0;
  border-radius: 5px;
  transition: all .3s;
}
#headerArea.menu_open .menu_btn span{
  background: rgba(0,0,0,0);
}
#headerArea.menu_open .menu_btn span::after{
  transform: rotate(-45deg);
  top: 0;
}
#headerArea.menu_open .menu_btn span::before{
  transform: rotate(45deg);
  top: 0;
}
#headerArea.scroll_move .menu_btn span{
  background: #333;
}
#headerArea.scroll_move .menu_btn span::after{
  background: #333;
}
#headerArea.scroll_move .menu_btn span::before{
  background: #333;
}
#headerArea.scroll_move{
  background: #fff;
}
#gnb{
  position: fixed;
  top: 0;
  width: 80%;
  height: 100%;
  background: #fff;
  z-index: 20;
  left: -100%;
  transition: left 0.3s ease-out;
  overflow-y: scroll;
}
#wrap .gnb_box{
  position: relative;
  width: 100%;
  height: 100%;
}
#headerArea.menu_open #gnb{
  left: 0;
}
#gnb::before{
  content: '';
  display: block;
  text-align: center;
  background: url(../images/logox2.png) no-repeat;
  background-size: 100% auto;
  background-position: 0 50%;
  width: 110px;
  height: 23px;
  position: relative;
  left: 50%;
  margin-top: 20px;
  margin-left: -60px;
}



#gnb >.menu_box{
  padding: 5% 5%;
}
#gnb >.menu_box .depth1{
  overflow: hidden;
  padding: 10px 0;
  position: relative;

}


#gnb >ul .depth1 h3 a{
  display: block;
  width: 100%;
  font-size: 1.250rem;
  float: left;
  font-weight: 600;
  padding: 10px 0;

}

#gnb .depth1 a i{
  color: #b51f1f;
  float: right;
  font-size: 1.250rem;
  margin-top: 5px;

}
#gnb .depth1 h3 a span{
  margin-left: 8%;
  font-size: 1rem;
  font-weight: 400;
  color: #999;
}
#gnb .depth1 > ul{
  text-align: center;
  clear: both;
  overflow: hidden;

}

#gnb .depth1 ul li a{
  display: block;
  padding: 10px 0;
  font-size: 1.063rem;
}

#gnb .login_box{
  width: 100%;
  clear: both;
  font-size: 1.250rem;
  margin-top: 3rem;
  text-align: center;
  overflow: hidden;
}
#gnb .login_box li{
  position: relative;
  width: 50%;
}
#gnb .login_box li a{
  color: #b51f1f;
  display: block;
  width: 100%;
  padding: 20px 0;

}
#gnb .login_box li:first-child a::before{
  content: '';
  display: block;
  width: 1px;
  height: 15px;
  background: #b51f1f;
  text-align: center;
  position: absolute;
  top: 25px;
  right: 0;
  
}
#gnb .login_box li:first-child{
  float: left;
}
#gnb .login_box li:last-child{
  float: right;
}
#headerArea.menu_open .modal_box{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 10;
}


/* 푸터공통 */
#footerArea{
  width: 100%;
  background: #e8e7e7;
  padding-bottom: 10px;
}

#footerArea .fnb{
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#footerArea .fnb ul li{
  overflow: hidden;
  float: left;
  width: 33.33%;
  text-align: center;
  position: relative;
}
#footerArea .fnb ul li::after{
  content: '';
  display: block;
  width: 1px;
  height: 13px;
  background: #666;
  position: absolute;
  right: 1px;
  top: 50%;
  margin-top: -6px;
}
#footerArea .fnb ul li:last-child:after{
  content: none;
}
#footerArea .fnb ul li a{
  font-size: 0.625rem;
  width: 100%;
  display: block;
  padding: 10px 0;
}

#footerArea address{
  width: 100%;
  font-size: 0.625rem;
  clear: both;
  text-align: center;
  margin-bottom: 10px;
}
#footerArea address span{
  display: block;
  margin: 10px 0;
}
#footerArea .tom_menu{
  overflow: hidden;
  padding-top: 15px;

}

#footerArea .footerLogo{
  width: 110px;
  height: 23px;
  background: url(../images/logox2.png) center no-repeat;
  background-size: 100% auto;
  float: left;
  margin-left: 20px;
  margin-top: 5px;
}
#footerArea .tom_menu .sns{
  float: right;
  margin-top: -6px;
}
#footerArea .tom_menu .sns li{
  float: left;
  margin-right: 6px;

}
#footerArea .tom_menu .sns li a{
  display: block;
  padding: 5px;
  width: 30px;
  height: 30px;
  background: #666;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footerArea .tom_menu .sns li a i{
  font-size: 1.2rem;
  color: #fff;
}

#footerArea .family{
  width: 60%;
  margin: 0 20%;
  text-align: center;
  position: relative;
}
#footerArea .family .arrow{
  color: #fff;
  width: 100%;
  display: block;
  background: #666;
  font-size: 0.750rem;
  padding: 5px 0;
}

#footerArea .family .aList{
  position: absolute;
  top: -75px;
  background: #666;
  width: 100%;
  transition: all 0.3s ease-out;
  display: none;
}
#footerArea .family .aList li a{
  color: #fff;
  width: 100%;
  display: block;
  font-size:0.750rem;
  padding: 5px 0;

}

#footerArea .topMove {
  display: block;
  width: 20px;
  height: 20px;
  background: #eb567b;
  box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 10%);
  position: fixed;
  right: 5%;
  border-radius: 100%;
  bottom: 5%;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  color: #fff;
  z-index: 10;

}

#footerArea .topMove i {
  font-size: 1.250rem;
  transition: all 0.5s;
}
/* search */
.search_top_btn{
}
.headerSearch_box{
  margin-top: 30px;
}
#headerSearch{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  font-family: 'lato', sans-serif;
  overflow: hidden;
}
.headerSearch_inner{
  margin: 0 auto;
}
#headerSearch p{
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.250rem;
  font-weight: 700;
  
}
#headerSearch form{
  display: block;
}

#headerSearch form #hd_search{
  height: 65px;
  line-height: 65px;
  font-size: 1rem;
  font-weight: 700;
  color: #333;
  display: block;
  width: 90%;
  margin:0 auto;
  box-sizing: border-box;
  text-indent: 20px;
  outline: none;
  border: 1px solid rgba(0,0,0,0.8);
  border-radius: 15px;
}
#headerSearch form button{
  position: absolute;
  right: 8%;
  top: 3px;
  width: auto;
  padding: 10px;
  color: #333;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  background-color: #fff;
}
#headerSearch form div{
  position: relative;
  top: 0;
  left: 0;
}